{% extends "student/base.html.twig" %}


{% block pageContent %}

    <div class="card bg-transparent border rounded-3">
		<!-- Card header START -->
		<div class="card-header bg-transparent border-bottom">
			<h3 class="mb-0">My Network</h3>
		</div>
		<!-- Card header END -->

		<!-- Card body START -->
		<div class="card-body">

			<!-- Course list table START -->
			<div class="table-responsive border-0">
				<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
					<!-- Table head -->
					<thead>
						<tr>
							<th scope="col" class="border-0 rounded-start">Name</th>
							<th scope="col" class="border-0">email</th>
							<th scope="col" class="border-0">Mobile</th>
							<th scope="col" class="border-0 rounded-end">Network</th>
						</tr>
					</thead>

					<!-- Table body START -->
					<tbody>
						{% for personne in network %}
							<tr>
								<!-- Table data -->
								<td>
									<div class="d-flex align-items-center">
										<!-- Image -->
										<div class="w-100px">
											<img src="{{asset(personne.avatarPath)}}" class="rounded" alt="">
										</div>
										<div class="mb-0 ms-2">
											<!-- Title -->
											<h6><a href="">{{ personne.nomComplet }}</a></h6>
										</div>
									</div>
								</td>

								<!-- Table data -->
								<td>{{ personne.utilisateur.email }}</td>

								<!-- Table data -->
								<td>{{ personne.telephone }}</td>

								<!-- Table data -->
								<td>{{ personne.invites|length }}</td>
							</tr>
							
						{% else %}
							<tr>
								<td colspan="4">
                                    <h5>You haven't invited anyone. use the following code or links to invite teachers and students</h5>
                                    <b>Invitez les enseignants via le lien : <i class="text-primary">{{ student.utilisateur.personne.invitationLink.trainer }}</i></b> <br>
                                    <b>Invitez les élèves via le lien : <i class="text-primary">{{ student.utilisateur.personne.invitationLink.student }}</i></b> 
                                </td>
							</tr>
						{% endfor %}
					</tbody>
					<!-- Table body END -->
				</table>
			</div>
			<!-- Course list table END -->

			<!-- Pagination START -->
			<div class="d-sm-flex justify-content-sm-between pagination-container align-items-sm-center mt-4 mt-sm-3">
				{{ knp_pagination_render(network) }}
			</div>
			<!-- Pagination END -->
		</div>
		<!-- Card body START -->
	</div>

{% endblock %}


